
/* listproducts */
.containerbody {
  width: 1200px;
  margin: 0 auto;
  height: 300px;
  margin-top: 20px;
}
.cate {
  display: flex;
}

.category {
  font-size: 15px;
  margin-top: 80px;
  margin-left: 355px;
  font-weight: 700;
  color: #f8f3f3;
  display: inline-block;
  min-width: 45%;
  background: rgba(126, 211, 33, 0.8);
  box-shadow: 0px 0px 0px 2px rgba(126, 211, 33, 0.8);
  padding: 8px 15px 10px;
  border-radius: 50px;
  cursor: pointer;
}

.containercategory {
  width: 1200px;
  height: 230px;
  margin: 0 auto;
  margin-top: 30px;
  background-color:rgb(179 255 95);
  display: flex; 
  border-radius: 30px;
}

.title{
    text-align: center;
}

.food {
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 59px;
    column-gap: 30px;
}
.food :hover {
    opacity: 0.7;  filter: alpha(opacity=100);
}
.img{
    width: 150px;
    height: 150px;
    margin-left: 34px;
    border: solid 1px rgb(183 213 150 / 80%);
    border-radius: 50%;
}

/* All Products */
li{
  list-style: none;
}
.titleallproducts{
  font-size: 15px;
  margin-top: 50px;
  margin-left: 355px;
  font-weight: 700;
  color: #f8f3f3;
  display: inline-block;
  min-width: 45%;
  background: rgba(126, 211, 33, 0.8);
  box-shadow: 0px 0px 0px 2px rgba(126, 211, 33, 0.8);
  padding: 8px 15px 10px;
  border-radius: 50px;
  cursor: pointer;
}

.getproduct{
  height: auto;
  display: flex;
  min-height: calc(100vh - 11.25rem);
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 0.3125rem;
  width: 1200px;
  margin: 0 auto;
  column-gap: 20px;
  cursor: pointer;
}
.getallproducts{
  height: auto;
  display: flex;
  min-height: calc(100vh - 11.25rem);
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 0.3125rem;
  width: 1200px;
  margin: 0 auto;
  column-gap: 20px;
  cursor: pointer;
  margin-top: 70px;
}
.imgs{
  width: 200px;
  height: 175px;
  padding: 2px;
}
.cards{

  margin-top: 40px;
  margin-left: 65px;
  border-style: solid;
  border-color: #e3e9e7;
}
.inforproducts{
  text-align: center;
  margin-top: 20px;
}
.discountedPrice{
  color: red;
}
.nameproducts{
  font-size: 25px;
  color: rgba(51, 53, 49, 0.8);
}
.cards :hover {
  opacity: 0.8;  filter: alpha(opacity=100) ;
}
.allproducts{
  font-size: 9px;
  padding: 10px;
  margin-top: 35px;

  margin-left: 44%;
  background: rgb(129 237 11 / 80%);
  cursor: pointer;
  color: azure;
  border-radius: 30px;
}
.allproducts :hover{
  opacity: 0.7;  filter: alpha(opacity=100);
}

.sale{
  position: absolute;
  z-index: 1;
  margin-left: 160px;
  color: rgb(241, 241, 241);
  margin-top: -15px;
  border-radius: 20px;
  background-color:red;
  padding: 5px;
  font-size:15px;
  font-weight:bold;
-webkit-animation: my 500ms infinite;
-moz-animation: my 500ms infinite; 
-o-animation: my 500ms infinite; 
animation: my 500ms infinite;
}
@-webkit-keyframes my {
  0% { color: #F8CD0A; } 
  50% { color: #fff;  } 
  100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
  0% { color: #F8CD0A;  } 
  50% { color: #fff;  }
  100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
  0% { color: #F8CD0A; } 
  50% { color: #fff; } 
  100% { color: #F8CD0A;  } 
}
@keyframes my { 
  0% { color: #F8CD0A;  } 
  50% { color: #fff;  }
  100% { color: #F8CD0A;  } 
} 