footer{
    background: rgb(149 227 65);
    padding: 40px 0;
    margin-top: 50px;
}
.body-footer{
    width: 1200px;
    margin: 0 auto;
}
.footer-col{
    color: 6c6666;
    flex: 1px;
    height: 250px;
    padding-left: 20px;
    list-style: none;
}
footer a{
    color: inherit;
}
a{
    text-decoration: none;
    transition: all 0.3s; 
}
a:hover{
    color: rgb(51, 50, 50);
}
footer p{
    color: #818181;
}
footer li{
    line-height: 2;
    color: #7c7a7a;
}
footer .tag a{
    padding: 0.64em 0.6em 0.56em;
    margin: 0 0.4rem 0.8rem 0;
    border: 1px solid #313438;
    color: inherit;
    font-size: 12px;
    background: transparent;
    border-radius: 0;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-block;
}
.footer-button{
    border-top: #7e7a7a solid 1px;
    padding-bottom: 2.7rem;
    padding-top: 2.7rem;
    margin-top: 25px;
}
.conten-button{
    padding-left: 20px;
}
.d-flex{
    display: flex;
}